<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Mission</h2>
                <hr class="light">
                <p class="text-faded"> Provide Breathing Support Equipment for newborns with breathing difficulty.</p>
                <p class="text-faded">Provide Training to Healthcare Providers</p>
                <p class="text-faded">Provide Upgraded Rural and Tribal Health Care Centers</p>
                <p class="text-faded">Provide Palav Pouch for safe transport of babies to Level II hospitals</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Join the Movement!</a>
            </div>
        </div>
    </div>
</section>
