<section class="bg-dark world" id="about" >
    <div class="container">
        <div class="row">
		    <div class="col-lg-2 col-md-2 col-sm-2 text-center" >
				<div class="svg-container">
					<svg version="1.1" viewBox="0 0 500 500">
						<!--circle fill="#F7941E" stroke="#231F20" stroke-width="10" cx="250" cy="250" r="200" opacity="0.6" /-->
						<circle fill="#3DB8A4" stroke="#231F20" stroke-width="10" cx="250" cy="250" r="200" opacity="0.6" />
						<text x="50%" y="50%" text-anchor="middle" dy="0.3em">1 Baby Every Month</text>
					</svg>
				</div>
				<p class="text-muted">WE LOSE DUE TO WEAK LUNGS & PNEUMONIA IN DEVELOPING COUNTRIES LIKE INDIA</p>


				<div class="svg-container">
				<svg version="1.1" viewBox="0 0 500 500">
					<!--circle fill="#F7941E" stroke="#231F20" stroke-width="10" 					cx="250" cy="250" r="200" opacity="0.6" /-->
					<circle fill="#3DB8A4" stroke="#231F20" stroke-width="10" cx="250" cy="250" r="200" opacity="0.6" />
					<text x="50%" y="50%" text-anchor="middle" dy="0.3em">96 HEALTH CENTERS</text>
				</svg>
				</div>
				<p class="text-muted">INVITE TO EXPAND THE PROGRAM IN 96 HEALTH CENTERS IN PUNE</p>
            </div>


            <div class="col-lg-8 col-md-8 col-sm-8   text-center">
               <img width="70%" src="../../../assets/img/Indiamapen.svg.png"/>
            </div>

			<div class="col-lg-2 col-md-2 col-sm-2 text-center" >

				<div class="svg-container">
				<svg version="1.1" viewBox="0 0 500 500">
					<!--circle fill="#F7941E" stroke="#231F20" stroke-width="10" 					cx="250" cy="250" r="200" opacity="0.6" /-->
					<circle fill="#3DB8A4" stroke="#231F20" stroke-width="10" cx="250" cy="250" r="200" opacity="0.6" />
					<text x="50%" y="50%" text-anchor="middle" dy="0.3em">400 BABIES</text>
				</svg>
				</div>
				<p class="text-muted">IN 20 MONTHS DRCREASED NEONATAL MORTALITY FROM 65% TO 18% AND SAVED 400 BABIES IN 15 CENTERS ACROSS 4 STATES IN INDIA</p>
			</div>

        </div> <!-- row div-->


    </div> <!-- container div-->



</section>
