.cmp {
  background-image: url('/assets/img/feet.png');
}

.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	/*padding-bottom: 100%; */
	vertical-align: middle;
	overflow: hidden;
}

.svg-rectcontainer {
	display: inline-block;
	position: relative;
	width: 100%;
	/*padding-bottom: 100%; */
	vertical-align: middle;
	overflow: hidden;
}


 text {
  fill: #fff;
  font-size: 4rem;
  font-family: sans-serif;
}



@media (max-width: 320px)
{
    p {
		font-size: 6px;
	    line-height: .5;
		margin-bottom: 5px;
	}

	 .recttext
	 {
	  fill: #fff;
	  font-size: 1.0rem;
	  font-family: sans-serif;
	}

}

@media (min-width: 321px) and (max-width: 800px)
{
    p {
		font-size: 10px;
	    line-height: 1;
		margin-bottom: 8px;
	}

	 .recttext
	 {
	  fill: #fff;
	  font-size: 1.2rem;
	  font-family: sans-serif;
	}

}

@media (min-width: 801px)
{
    p {
		font-size: 12px;
	    line-height: 1.5;
		margin-bottom: 20px;
	}


	 .recttext
	 {
	  fill: #fff;
	  font-size: 1.4rem;
	  font-family: sans-serif;
	}

}
