<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Saving Babies with weak lungs</h1>
            <hr>
            <p>Project Palav implements a simple cost effective breathing support system that provides breathing support to newborns and saves lives</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<!--div class="jumbotron text-center">
  <div class="container">
    <h1>Property Listings</h1>
    <p>Access the hottest properties available</p>
    <a (click)="login()"><img src="assets/img/google.png"></a>
  </div>
</div-->
