<section class="bg-primary" id="videos">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"></h2>
                <iframe id="ytplayer" type="text/html" width="640" height="360"
                  [attr.src]="youtubelink | safe" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <div id="ytplayer"></div>
        <script>
          // Load the IFrame Player API code asynchronously.
          var tag = document.createElement('script');
          tag.src = "https://www.youtube.com/player_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          // Replace the 'ytplayer' element with an <iframe> and
          // YouTube player after the API code downloads.
          var player;
          function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
              height: '360',
              width: '640',
              videoId: 'M7lc1UVf-VE'
            });
          }
        </script>

</section>
