<div class="jumbotron text-center">
	<div class="container">

		<div class="row">
			<div class=".col-xs-12 col-md-12 .col-lg-12" *ngIf="!displaysaveinformation">
			<!--div class="table-responsive"-->
				<form  >
					<table class="table table-hover table-striped table-bordered">
					  <thead>
						<tr>
						  <th  class="col-xs-1  col-md-1 col-lg-1"><input type="number" name="id" [(ngModel)]="filter.id" min="1" [attr.max]="[numberOfResources]" step="1" placeholder="Id"></th>
						  <th  class="col-xs-3  col-md-3 col-lg-3"><input type="text" name="title" [(ngModel)]="filter.title" placeholder="Title"></th>
						  <th class="col-xs-4  col-md-4 col-lg-4"><input type="text" name="author" [(ngModel)]="filter.author" placeholder="Author"></th>
						  <th class="col-xs-3  col-md-3 col-lg-3"><input type="number" name="year" [(ngModel)]="filter.year" [attr.min]="minYear" [attr.max]="[maxYear]" step="1" placeholder="Year"></th>
						  <th class="col-xs-1  col-md-1 col-lg-1"></th>
						</tr>
					  </thead>
					  <tfoot>
						<tr>
						  <td colspan="5" class="col-xs-1  col-md-1 col-lg-1">
								<button class="btn btn-xs btn-primary btn-block" type="button" (click)="saveReourceEquipmentInformation()">Save Equipments</button>
						  </td>
						</tr>
					  </tfoot>
					 <tbody>
						<tr *ngFor="let item of resourcesData | resourcefilter:filter">
						  <td class="col-xs-1  col-md-1 col-lg-1">  {{item.id}}</td>
						  <td  class="col-xs-3  col-md-3 col-lg-3">{{item.title}}</td>
						  <td  class="col-xs-4  col-md-4 col-lg-4">{{item.author}}</td>
						  <td  class="col-xs-3  col-md-3 col-lg-3">{{item.year}}</td>
						  <td  class="col-xs-1  col-md-1 col-lg-1">
							<div class="input-group">
					          <span class="input-group-btn">
					              <button type="button" class="btn btn-danger btn-number"  data-type="minus" (click)="decreaseCounter(item)">
					                <span class="glyphicon glyphicon-minus"></span>
								  </button>
							  </span>
							  <span class="col-xs-1">{{item.noOfEquipments}}</span>
							  <span class="input-group-btn">
								  <button type="button" class="btn btn-success btn-number" data-type="plus" (click)="increaseCounter(item)">
									  <span class="glyphicon glyphicon-plus"></span>
								  </button>
							  </span>
							</div>
							</td>
						</tr>
					  </tbody>
					 </table>
				</form>
			</div>


			<div class=".col-xs-12 col-md-12 .col-lg-12" *ngIf="displaysaveinformation">
			<!--div class="table-responsive"-->
				<form  >
					<table class="table table-hover table-striped table-bordered">
					  <thead>
						<tr>
						  <th  class="col-xs-1  col-md-1 col-lg-1">Id</th>
						  <th  class="col-xs-3  col-md-3 col-lg-3">Title</th>
						  <th class="col-xs-4  col-md-4 col-lg-4">Author/th>
						  <th class="col-xs-3  col-md-3 col-lg-3">Year</th>
						  <th class="col-xs-1  col-md-1 col-lg-1"></th>
						</tr>
					  </thead>
					  <tfoot>
						<tr>
						  <td colspan="5" class="col-xs-1  col-md-1 col-lg-1">
								<button class="btn btn-xs btn-primary btn-block" type="button" (click)="backToResource()">Back to Resources</button>
						  </td>
						</tr>
					  </tfoot>
					 <tbody>
						<tr *ngFor="let item of saveresourcesData">
						  <td class="col-xs-1  col-md-1 col-lg-1">  {{item.id}}</td>
						  <td  class="col-xs-3  col-md-3 col-lg-3">{{item.title}}</td>
						  <td  class="col-xs-4  col-md-4 col-lg-4">{{item.author}}</td>
						  <td  class="col-xs-3  col-md-3 col-lg-3">{{item.year}}</td>
						  <td  class="col-xs-1  col-md-1 col-lg-1">{{item.noOfEquipments}}</td>
						</tr>
					  </tbody>
					 </table>
				</form>
			</div>


		</div>
	
</div>
</div>
