<div class="jumbotron text-center">
	<br>
	<div class="container">
    <!--h1>Property Listings</h1-->
    <p>Access the Palav equipments available</p>
    <a (click)="loginGoogle()"><img src="../../../assets/img/google.png"></a>
	<h3> OR </h3>

	<form class="form-signin" (ngSubmit)="onSignup(f)" #f="ngForm">

		<div class="alert alert-danger  col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" *ngIf="error" role="alert">
		        <strong>{{ error }}</strong>
		</div>
		<div class="alert alert-success col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" *ngIf="infomessage" role="alert">
				<strong>{{ infomessage }}</strong>
		</div>

			<div class="row"  *ngIf="!displayForgotPassword" >
				<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
					<p class="form-signin-heading">Please sign in</p>
					<label for="email" class="sr-only">Email address</label>
					<input type="email" id="email" name="email" ngModel class="form-control" placeholder="Email address" required>

					<label for="password" class="sr-only">Password</label>
					<input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>

					  <label *ngIf="displayConfirmPassword" for="password" class="sr-only">Confirm Password</label>
					 <input *ngIf="displayConfirmPassword" type="password" ngModel id="confpassword" name="confpassword" placeholder="Confirm Password" ngModel class="form-control" >
					<br>

					<button *ngIf="!displayConfirmPassword" class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.valid">Sign in</button>
					<button *ngIf="displayConfirmPassword" class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.valid">Sign Up</button>
						<br>
					 <div padding-top>
					  <a class="btn btn-primary"  block color="light" *ngIf="!displayConfirmPassword" clear (click)="displaySignup()">If new member ? SIGNUP</a>
					  <br><br><a class="btn btn-primary"  block color="light" *ngIf="!displayConfirmPassword" clear (click)="displayForgotPasswordScreen()">Forgot Password</a>
					  <br><a class="btn btn-primary"  block color="light" *ngIf="displayConfirmPassword" clear (click)="displayLogin()">Back to Login</a>
				  </div>
				</div>
			</div>
			<div class="row"  *ngIf="displayForgotPassword" >
				<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

					<h4 class="form-signin-heading">Please enter email address</h4>
					<label for="forgetemail" class="sr-only">Email address</label>
					<input type="email" id="forgetemail" name="forgetemail" ngModel class="form-control" placeholder="Email address" required>
					<br>
					<button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.valid">Reset Password</button>
					 <div padding-top>
					  <br><a class="btn btn-primary"  block color="light" clear (click)="displayLogin()">Back to Login</a>
				  </div>
				</div>
			</div>
	</form>

  </div>
</div>
